# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
android/local.properties
android/.gradle/
android/key.properties

# IDE
.idea/
.vscode/
*.log
android/key.properties
android/app/*.jks
setoran_mobil.jks
setoran_mobil_b64.txt
